.container-details {
  border-radius: 10px;

}
.header-details {
  display: flex;
  justify-content: space-between;
}

.img {
  width: 20%;
}
.img img {
  border-radius: 10px;
}

.generic-info {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.movies-cast {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.similar-movies {
  width: 100%;
}

.casts {
  width: 100%;
}