.discover {
  display: flex;
  flex-direction: column;
}

.text {
  margin-bottom: 30px;
}

.container-discover {
  display: flex;
  gap: 5%;
}

.movies {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.filters {
  width: 15%;
  display: flex;
  flex-direction: column;
}