.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
}

.links{
  color: rgb(0, 0, 0);
  display: flex;
  gap: 20px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
a:visited {color: rgb(0, 0, 0);}
a:hover {
  color: rgb(116, 116, 116);
}
a:active {color: rgb(0, 0, 0);}


.log {
  cursor: pointer;
}
.log:hover {
  color: rgb(116, 116, 116);
}


