.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.links{
  color: white;
  display: flex;
  gap: 20px;
}

a {
  color: white;
  text-decoration: none;
}         /* Unvisited link  */
a:visited {color: white;} /* Visited link    */
a:hover {color: white;}   /* Mouse over link */
a:active {color: white;}



