.carousel-cast {
  display: flex;

  gap: 10px;
  overflow-x: scroll;
  padding: 20px 0px;
}
.carousel-cast::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.carousel-cast::-webkit-scrollbar-track {
  background-color: #dfdfdf;
  border-radius: 10px;
}
.carousel-cast::-webkit-scrollbar-thumb {
  background-color: #000000b3;
  border-radius: 10px;
}


.gallery {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 30px;
}
