.carousel {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  flex: 1;
  padding: 30px 0px;
}
.carousel::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.carousel::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.571);
  border-radius: 10px;
}
.carousel::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  row-gap: 30px;
}
